<div class="overview">
  <div class="overview-wrapper">
    <div style="display: flex; align-items: center; vertical-align: middle;">
      <div>
        <h2 style="margin-bottom: 0px;">Angular v13</h2>
      </div>
      <div>
        <button mat-icon-button aria-label="link to @angular/cli" color="primary" (click)="onNavigate()">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
    <p>Released on <strong>{{ '2021-11-10' | date }}</strong></p>
    <br />
    <p>
      Angular is back with the brand new release of Angular v13! This latest release brings all
      sorts of updates and features to help us build great apps.
    </p>
    <mat-divider></mat-divider>
    <br/>
    <h2>Highlights of Angular 13</h2>
    <ol>
      <li>100 percent Ivy</li>
      <li>Performance Updates</li>
      <li>Error Messaging Improvements</li>
      <li>Stable Internationalization</li>
      <li>Typescript 4.4</li>
      <li>Node.js versions</li>
      <li>Service Worker</li>
      <li>Router</li>
      <li>Forms (minor)</li>
      <li>Angular Packaging</li>
      <li>Language Service</li>
      <li>Many more...</li>
    </ol>
  </div>
</div>
